.button_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    flex: 1;

    &__item {
        border: 1px solid var(--translucent-dark);
        min-width: 9rem;
        padding: 1.1rem 1rem 1rem 1rem;
        background-color: var(--translucent-dark);
        font-family: var(--font-mono);
        text-transform: lowercase;
        cursor: pointer;
        border-radius: var(--radius-xs);

        transition: all var(--animation-duration-default);

        &:first-child {
            border-top-left-radius: var(--radius-md);
            border-bottom-left-radius: var(--radius-md);
        }

        &:last-child {
            border-top-right-radius: var(--radius-md);
            border-bottom-right-radius: var(--radius-md);
        }

        &:hover {
            background-color: var(--primary-light) !important;
            color: var(--contrast-bg) !important;
        }

        &[aria-selected='true'] {
            border-radius: var(--radius-lg);
            border-color: var(--primary-light);
            background-color: var(--primary-translucent);
            color: var(--primary-light);
            text-transform: uppercase;
        }
    }
}
