@use '../../styles/variables';
@use '../../styles/mixins';

.button {
    position: relative;
    display: flex;
    max-width: max-content;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-mono);
    font-size: 1.4rem;

    padding: 1.2rem 3rem;
    background-clip: padding-box;
    border-radius: var(--radius-md);
    box-shadow: 0 0 0.3rem var(--primary-dark);
    color: var(--fg-1);
    background-size: 250%;
    border: 2px solid var(--primary-dark);
    background-color: transparent;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--primary-dark) 50%);
    cursor: pointer;

    transition: all var(--animation-duration-default) ease-in-out;

    & > span {
        margin-right: 1rem;
    }

    &:hover,
    &:active {
        background-position: 99%;
        box-shadow: 0 0 1rem var(--primary-dark);
        border-radius: var(--radius-sm);
        color: var(--contrast-bg);
    }

    @include mixins.theme(dark) {
        border-color: var(--primary-light);
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--primary-light) 50%);
    }
}

@keyframes load {
    0% {
        background-position: 150%;
    }
    100% {
        background-position: -50%;
    }
}

.button[disabled] {
    pointer-events: none;
    background-position: 100%;
    box-shadow: 0 0 0 var(--primary-dark);

    color: inherit;

    background-image: linear-gradient(
        120deg,
        transparent 33%,
        var(--primary-dark) 33%,
        var(--primary-dark) 66%,
        transparent 66%
    );

    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    @include mixins.theme(dark) {
        background-image: linear-gradient(
            120deg,
            transparent 33%,
            var(--primary-light) 33%,
            var(--primary-light) 66%,
            transparent 66%
        );
    }
}
