@use '../../styles/mixins';

.socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.4rem;
    font-size: var(--text-size-lg);

    @include mixins.respond(phone-large) {
        justify-content: center;
    }

    a {
        &:hover {
            color: var(--primary-light);

            -webkit-filter: var(--glow);
            filter: var(--glow);
        }
    }
}
