@use '../../styles/mixins';
@use '../../styles/variables';

.input {
    position: relative;

    &__label {
        position: absolute;
        top: 0;
        left: 1.2rem;
        display: inline-flex;
        text-transform: capitalize;
        height: 4.5rem;
        align-items: center;
        transition: all 0.2s;
    }

    &__textarea {
        min-height: 8em;
        max-height: 16em;
    }

    &__field:focus + &__label,
    &__textarea:focus + &__label,
    &__field:not(:placeholder-shown) + &__label,
    &__textarea:not(:placeholder-shown) + &__label {
        top: -3.5rem;
        left: 0;
        font-size: var(--text-size-sm);
    }

    &__field,
    &__textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 4.8rem;
        padding: 1.2rem 1.4rem;
        font: var(--text-size-msm) var(--font-mono);
        color: inherit;
        background: var(--bg-2);
        -webkit-backdrop-filter: blur(16px) saturate(150%);
        backdrop-filter: blur(16px) saturate(150%);
        border: 1px solid var(--translucent-darker);
        border-radius: var(--radius-md);
        box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.05);
        transition: all var(--animation-duration-default);

        &::placeholder {
            color: transparent;
        }

        &:not(:placeholder-shown):not(:focus):invalid {
            background-color: rgba(variables.$red, 0.15);
            border-color: var(--red);
            box-shadow: 0 0 0.5rem rgba(variables.$red, 0.3) !important;
        }

        &:hover {
            border-color: var(--primary-light);
            box-shadow: 0 0 0.6rem var(--primary-translucent);
        }

        &:active,
        &:focus {
            outline: none;
            border-color: var(--primary-light);
            box-shadow: 0 0 1.2rem var(--primary-translucent-dark);
            background-color: var(--primary-translucent);
        }
    }
}
