@use '../../styles/mixins';

.experience {
    @include mixins.respond(tab-port) {
        header {
            text-align: center;
        }
    }

    &__container {
        display: flex;
        gap: 4rem;

        @include mixins.respond(tab-port) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-md);
    }

    &__caption {
        display: flex;
        gap: var(--gap-xs);
        flex-direction: column;

        &__details {
            display: flex;
            gap: 0.6rem;
            align-items: center;
            font: var(--text-size-sm) var(--font-mono);
            color: var(--fg-3);

            &_icon {
                font-size: var(--text-size-md);
            }
        }

        @include mixins.respond(tab-port) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__title {
        margin-bottom: 0;

        @include mixins.respond(tab-port) {
            text-align: center;
        }
    }

    &__company {
        @include mixins.respond(tab-port) {
            text-align: center;
        }
    }

    &__points {
        margin-top: 2rem;

        & > div:not(:last-child) {
            margin-bottom: 0.8rem;
        }
    }

    &__point {
        &_bullet {
            @include mixins.bullet_point;
        }
    }
}
