@font-face {
    font-family: 'CommitMono';
    src: url('../assets/fonts/CommitMono-400-Regular.otf');
}

@font-face {
    font-family: 'Rookery';
    src: url('../assets/fonts/Rookery-Regular.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Rookery';
    src: url('../assets/fonts/Rookery-Bold.woff');
    font-weight: bold;
}
