@font-face {
    font-family: 'Menlo';
    src: url('../assets/fonts/Menlo-Regular.ttf');
}

@font-face {
    font-family: 'Rookery';
    src: url('../assets/fonts/Rookery-Regular.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Rookery';
    src: url('../assets/fonts/Rookery-Bold.woff');
    font-weight: bold;
}
