@font-face {
    font-family: 'Metropolis';
    src: url('../assets/fonts/Metropolis-Bold.otf');
}

@font-face {
    font-family: 'Fira Code';
    src: url('../assets/fonts/FiraCode-KVF.ttf');
}

@font-face {
    font-family: 'JetBrains Sans';
    src: url('../assets/fonts/JetBrainsSans-Regular.ttf');
}
