@use 'mixins';

* {
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
    letter-spacing: -0.03em;
}

h2,
h3,
h4 {
    margin-top: 0.2em;
    margin-bottom: 0.75em;
}

h1 {
    font-size: var(--text-size-xxxl);
    font-weight: 800;
    color: var(--fg-1);
}

h2 {
    font-size: var(--text-size-xxl);
    font-weight: 600;
    color: var(--fg-2);
}

h3 {
    font-size: var(--text-size-xl);
    color: var(--fg-3);
}

h4 {
    font-size: var(--text-size-lg);
    color: var(--fg-3);
}

h5,
h6 {
    font: var(--text-size-msm) var(--font-mono);
    color: var(--primary-light);
}

h5 {
    font-weight: 400;
    text-transform: uppercase;
}

p,
div,
body {
    font-size: var(--text-size-md);
    line-height: 1.6em;
}

li {
    font-size: var(--text-size-md);
    list-style: none;
    line-height: 1.4;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}