$light-1: hsl(260, 23%, 97%);
$light-2: hsl(253, 41%, 93%);
$light-3: hsl(257, 26%, 86%);

$dark-1: hsl(266, 43%, 10%);
$dark-2: hsl(265, 38%, 13%);
$dark-3: hsl(265, 32%, 15%);

$primary-light: hsl(266, 100%, 70%);
$primary-main: hsl(266, 97%, 63%);
$primary-dark: hsl(266, 94%, 55%);
$primary-translucent: hsla(266, 94%, 55%, 0.13);
$primary-translucent-dark: hsla(266, 94%, 55%, 0.5);

$red: hsl(0, 100%, 41%);
$green: hsl(150, 100%, 34%);
