$light-1: hsla(30, 20%, 98%, 0.96);
$light-2: hsla(30, 15%, 95%, 0.72);
$light-3: hsla(30, 10%, 95%, 0.46);
$light-4: hsla(30, 10%, 95%, 0.26);

$dark-1: hsla(24, 25%, 12%, 0.96);
$dark-2: hsla(24, 20%, 15%, 0.72);
$dark-3: hsla(24, 15%, 20%, 0.48);
$dark-4: hsla(24, 10%, 25%, 0.28);

$primary-light: hsl(28, 95%, 62%);
$primary-main: hsl(24, 95%, 53%);
$primary-dark: hsl(18, 95%, 46%);
$primary-translucent: hsla(24, 95%, 53%, 0.12);
$primary-translucent-dark: hsla(24, 95%, 53%, 0.4);

$red: hsl(0, 100%, 40%);
$green: hsl(150, 100%, 35%);
