$light-1: #f8f7fa;
$light-2: #eae7f5;
$light-3: rgb(216, 211, 229);

$dark-1: #170e23;
$dark-2: #1e142c;
$dark-3: #231931;

$primary-light: #aa68ff;
$primary-main: #9646fc;
$primary-dark: #7e1ef8;

$red: #cf0000;
$green: #00ac56;
