.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;

    &__text {
        font-family: var(--font-mono);
        font-size: 1.4rem;
        visibility: hidden;
        background-color: var(--fg-1);
        color: var(--contrast-bg);
        text-align: center;
        padding: 0.4rem 0.8rem;
        border-radius: var(--radius-xs);
        min-width: 10rem;
        width: max-content;

        position: absolute;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        opacity: 0;
        transition: opacity 0.3s;
    }

    &__text::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: var(--fg-1) transparent transparent transparent;
    }

    &:hover &__text {
        visibility: visible;
        opacity: 1;
    }
}
