@use '../../styles/mixins';
@use '../../styles/variables';

.about {
    position: relative;

    &__content {
        display: grid;
        grid-template-columns: minmax(30%, 1fr) minmax(min-content, 65%);
        grid-template-rows: min-content;
        grid-gap: 2rem;
        margin-bottom: 6rem;
        justify-content: space-between;

        @include mixins.respond(phone) {
            grid-template-columns: 1fr;
            grid-template-rows: min-content 100%;
        }

        div:not(:last-of-type) .description {
            margin-bottom: 2rem;
        }

        .profile {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;

            img {
                border-radius: var(--radius-lg);
                background-color: var(--translucent-dark);
                transition: all 0.2s;
            }

            &:hover img {
                background-color: var(--translucent-darker);
                border-radius: var(--radius-md);
            }
        }
    }

    .socialLinks {
        @include mixins.respond(phone) {
            text-align: center;
        }
    }
}
