@use '../../styles/mixins';

.contact {
    max-width: 60rem !important;
    margin: 0 auto !important;
    text-align: center;

    @include mixins.respond(phone-large) {
        max-width: 90% !important;
    }

    h2 {
        margin-bottom: 1em;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        div:nth-last-of-type(2) {
            display: none;
        }

        div:nth-last-of-type(1) {
            align-self: center;
        }

        button[type='submit'] svg {
            transition: translate 0.2s ease;
        }

        button[type='submit']:hover svg {
            translate: 0.6rem 0;
        }
    }
}
