.contact {
    max-width: 60rem !important;
    margin: 0 auto !important;
    text-align: center;

    h6 {
    }

    h2 {
        margin-bottom: 1em;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        div:nth-last-of-type(2) {
            display: none;
        }

        div:nth-last-of-type(1) {
            align-self: center;
        }
    }
}
