@use '../../../../styles/animations';
@use '../../../../styles/mixins';

.card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary-translucent);
    padding: 1.8rem 1.2rem;
    border-radius: var(--radius-lg);
    box-shadow: 0 0 2rem var(--primary-translucent);
    cursor: default;
    transition:
        border-radius 0.4s,
        background-color var(--animation-duration-long),
        color var(--animation-duration-long);

    & > * {
        transition: color var(--animation-duration-default);
    }

    &:hover {
        background-color: var(--primary-dark);
        border-radius: var(--radius-md);
        @include mixins.theme(dark) {
            background-color: var(--primary-light);
        }

        & > * {
            color: var(--contrast-bg);
        }
    }

    &__data {
        font-size: var(--text-size-xxl);
        color: var(--primary-light);
    }

    &__caption {
        font: var(--text-size-sm) var(--font-mono);
    }
}
