@use '../../styles/mixins';
@use '../../styles/variables';

.footer {
    text-align: center;
    background-color: var(--bg-2);
    padding: 2rem;

    &__social {
        display: flex;
        justify-content: center;
    }

    & > div {
        margin: 1rem 0;
    }

    .colorize {
        font-family: var(--font-mono);
        font-size: 1.6rem;
        color: var(--primary-light);
    }
}